* {
  margin: 0;
  padding: 0;
}

body {
  width: 600px;
  padding-bottom: 0.5em;
  background-color: #F1F1F1;
}

button {
  padding: 0;
  margin: 0 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#keyboard-shortcuts table {
  border-spacing: 1em;
}
