* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  width: 600px;
  padding: 0 0.5em;
}

button {
  padding: 0;
  margin: 0 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#sessions {
  margin-bottom: 1em;
}

.session-card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.mdc-list--two-line .mdc-list-item.session-card {
  height: 80px;
}

.mdc-list--dense .mdc-list-item__graphic {
  margin-left: 16px;
}

.mdc-list--dense .mdc-list-item__meta {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

.mdc-textfield--dense {
  margin: 0;
}

.shelved {
  color: blue;
}

.session-name {
  height: auto !important;
}
