* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  width: 600px;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.session-card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

#sessions {
  margin-bottom: 1em;
}

.mdc-list--dense .mdc-list-item__start-detail {
  margin-left: 16px;
}

.mdc-textfield--dense {
  margin: 0;
}

.shelved {
  color: blue;
}

.saved .saved-state-icon {
  color: royalblue;
}
