* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  width: 600px;
  padding-bottom: 0.5em;
}

button {
  padding: 0;
  margin: 0 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.session-card {
  /* There is no guttering between session cards by default, add some. */
  margin: 0.5rem;
}

.session-name {
  height: auto !important;
}

.mdc-list-item__text {
  /* Allows full width text input. */
  width: 65%;
}
