.session-card {
  /* There is no guttering between session cards by default, add some. */
  margin: 0.5rem;
}

.session-name {
  height: auto !important;
}

.mdc-list-item__text {
  /* Allows full width text input. */
  width: 65%;
}
