* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  width: 600px;
}

.session {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

#sessions {
  margin-bottom: 1em;
}

#currently-open-sessions {
  min-height: 50px;
  width: 50%;
  float: left;
}

#recently-closed-sessions {
  min-height: 50px;
  width: 50%;
  float: left;
  clear: left;
}

#saved-sessions {
  width: 50%;
  float: left;
}

#unsaved-sessions {
  width: 50%;
  float: left;
}

.mdc-list--dense .mdc-list-item__start-detail {
  margin-left: 16px;
}
