@font-face {
  font-family: 'Boogaloo';
  src: url('/ui/fonts/Boogaloo/Boogaloo-Regular.ttf');
}

body {
  padding: 0;
  margin: 0;
  width: 600px;
}

button {
  /* padding: 0;
  margin: 0 8px; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#keyboard-shortcuts table {
  border-spacing: 1em;
}

#title {
  font-family: 'Boogaloo', cursive;
  font-size: 2rem;
}

.session-name {
  height: auto !important;
  width: 100%; /* Allows full width text input. */
}
