@font-face {
  font-family: 'Boogaloo';
  src: url('/ui/fonts/Boogaloo/Boogaloo-Regular.ttf');
}

body {
  padding: 0;
  margin: 0;
  width: 600px;
}

button {
  /* padding: 0;
  margin: 0 8px; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#keyboard-shortcuts table {
  border-spacing: 1em;
}

#title {
  font-family: 'Boogaloo', cursive;
  font-size: 2rem;
}

.session-name {
  height: auto !important;
  width: 100%; /* Allows full width text input. */
}

.placeholder {
  align-items: center;  
  color: grey;
  display: flex;
  height: 60px;
  justify-content: center;
  text-align: center;
}

.placeholder img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}