@use "@material/theme" with (
    $primary: #fcb8ab,
    $secondary: #feeae6,
    $on-primary: #442b2d, // TODO: Use this on activated list items
    $on-secondary: #442b2d,
);
// TODO: Find out why @material/package doesn't work.
@use "@material/list/mdc-list.scss";
@use "@material/dialog/mdc-dialog.scss";
@use "@material/top-app-bar/mdc-top-app-bar.scss";
// @use "@material/theme/variables" with (
//   $primary: color-palette.$red-500
// );

// .mdc-list {
// 	background-color: var(--mdc-theme-surface, #fff);
// }
